*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
}

ul{
  list-style-type: none;
}

body{
  background-color: grey;
}

.container{
  width: 75%;
  margin: 0 auto;
}

.search-content{

  h2{
    margin: 15px 0;
    color: white;
  }
}

.stars-container{
  color: grey;

  .yellow-star{
    color: gold;
  }
}